<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Delivery App</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-home"></i>
            <span><%= t('views.home')%></span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <%= t('views.records')%>
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-hand-holding-usd"></i>
            <span><%= t('views.options')%></span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"><%= t('views.menu')%>:</h6>
                <% if policy(current_user).index? %>
                  <%= link_to users_path, class: "collapse-item" do %>
                    <i class="fas fa-handshake"></i>
                    <span><%= t('views.customers')%></span>
                  <% end %>
                <% end %>

                <% if policy(current_user).index? %>
                  <%= link_to products_path, class: "collapse-item" do %>
                    <i class="fas fa-shopping-basket"></i>
                    <span><%= t('views.products')%></span>
                  <% end %>
                <% end %>

                <% if policy(current_user).index? %>
                  <%= link_to categories_path, class: "collapse-item" do %>
                    <i class="fas fa-fw fa-list"></i>
                    <span><%= t('views.categories')%></span>
                  <% end %>
                <% end %>

                <% if policy(current_user).index? %>
                  <%= link_to deliveries_path, class: "collapse-item" do %>
                    <i class="fas fa-truck"></i> 
                    <span><%= t('views.deliveries')%></span>
                  <% end %>
                <% end %> 

                <%= link_to order_index_path, class: "collapse-item" do %>
                   <i class="fas fa-cart-arrow-down"></i>
                   <span><%= t('views.orders')%></span>
                <% end %>
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
       <%= t('views.reports')%>
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area"></i>
            <span><%= t('views.charts')%></span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->