<p id="notice"><%= notice %></p>
<div class="card shadow p-3 mb-5">
  <div class="card-header"> Order Details </div>
  <div class="card-body">
    <p>
      <strong>Order Number:</strong>
      <%= @delivery.order.id %>
    </p>

    <p>
      <strong>Delivery Status:</strong>
      <%= @delivery.status %>
    </p>

  </div>
</div>


<div class="card shadow p-3 mb-5">
  <div class="card-header"> Customer Address </div>
  <div class="card-body">
    <p>
      <strong>Customer:</strong>
      <%= @delivery.user.name %>
    </p>

    <p>
      <strong>Street:</strong>
      <%= @delivery.user.address.street %>
    </p>

    <p>
      <strong>Neighborhood:</strong>
      <%= @delivery.user.address.neighborhood %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @delivery.user.address.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @delivery.user.address.state %>
    </p>
  </div>
</div>

<div class="card shadow p-3 mb-5">
  <div class="card-header"> Shopping Description </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Item</th>
          </tr>
        </thead>

        <tbody>
          <% @delivery.order.order_items.each do |item| %>
            <tr>
              <td><%= image_tag item.product.image.variant(resize: "100x100") if item.product.image.attached? %></td>
              <td><%= item.product.title %></td>
              <td><%= item.quantity %></td>
              <td><%= humanized_money_with_symbol item.product.price %></td>
              <td>R$<%= formatted_value item.total %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <h5> Subtotal: <%= humanized_money_with_symbol @delivery.order.subtotal %> </h5>
      </div>
      <div class="col-lg-4">
        <% if current_user.customer? %> 
          <%= link_to root_path, class: "btn btn-info btn-block btn-sm" do %>
            <span>Keep shopping</span>
          <% end %>
        <% elsif current_user.admin? %>
          <%= link_to deliveries_path, class: "btn btn-info btn-block btn-sm" do %>
            <span>Back Deliveries</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

