<div class="container">
   <div class="card shadow p-3 mb-5 shopping-cart">
        <div class="card-header bg-dark text-light">
            <%= link_to root_path, class: "btn btn-outline-info btn-sm pull-right" do %>
              <span><%= t('cart.keep_shopping')%></span>
            <% end %>
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            <!-- PRODUCT -->
            <div class="row">
              <% @order_items.each do |item| %>   
                <div class="col-12 col-sm-12 col-md-2 text-center">
                  <%= image_tag item.product.image.variant(resize: "120x80"), class: "img-responsive" if item.product.image.attached? %>
                </div>
                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                    <h4 class="product-name"><strong><%= item.product.title %></strong></h4>
                    <h4 class="product-description">
                        <small><%= item.product.description %></small>
                    </h4>
                </div>
                <div class="col-12 col-sm-12 text-sm-right col-md-4 text-md-right row" id="price">
                    <div class="col-4 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                        <h6 id="price"><strong><%= item.product.price %> <span class="text-muted">x</span></strong></h6>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4"> 
                        <div>
                            <%= form_for( item , remote: true) do |f| %>
                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-12">
                                  <div class="form-group">
                                    <%= f.hidden_field :product_id, :value => item.product.id, class: "form-control", id: "quantity" %>
                                    <%= f.number_field :quantity, :value => item.quantity.to_i, :min => 1, class: "form-control" %>
                                    <br>
                                    <%= button_tag type: 'submit', class: "btn btn-info btn-block btn-sm", id: "submit-button" do %>
                                      <i class="fas fa-sync-alt"></i>
                                      <span class="text"></span> 
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 text-right">
                      <%= link_to order_item_path(item), method: :delete, remote: true, class: "btn btn-outline-danger btn-xs", id: "delete-button" do %>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      <% end %>
                    </div>
                </div>
              <% end %>
            </div>
            <hr>
            <div class=row>
              <div class="col-lg-3 col-md-6 mb-4">
                <h5> Total: R$ <%= formatted_value current_order.subtotal_value %></h5>
              </div>
              <div class="col-lg-6 col-md-6 mb-4"></div>
              <div class="col-lg-3 col-md-6 mb-4">
                <% unless current_order.id.nil? %>
                  <%= link_to checkout_free_path(current_order.id), class: "btn btn-success btn-block btn-sm" do %>
                    <i class="fas fa-truck"></i>
                    <span><%= t('cart.review_data')%></span>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
    </div>
</div>