<div class="container">
   <div class="card shopping-cart">
        <div class="card-header bg-dark text-light">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Shipping cart
            <a href="" class="btn btn-outline-info btn-sm pull-right">Continiu shopping</a>
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            <!-- PRODUCT -->
            <div class="row">
              <% @order_items.each do |item| %>   
                <div class="col-12 col-sm-12 col-md-2 text-center">
                        <img class="img-responsive" src="http://placehold.it/120x80" alt="prewiew" width="120" height="80">
                </div>
                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                    <h4 class="product-name"><strong><%= item.product.title %></strong></h4>
                    <h4>
                        <small>Product description</small>
                    </h4>
                </div>
                <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                    <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                        <h6><strong><%= item.product.price %> <span class="text-muted">x</span></strong></h6>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4">
                        <div>
                            <%= form_for( item , remote: true) do |f| %>
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="form-group">
                                    <%= f.hidden_field :product_id, :value => item.product.id, class: "form-control" %>
                                    <%= f.number_field :quantity, :value => item.quantity.to_i, :min => 1, class: "form-control" %>
                                    <br>
                                    <%= f.submit "Update", class: "btn btn-outline-secondary pull-right" %>
                                    <h6><%= item.total %> <span class="text-muted"></span></strong></h6>
                                  </div>
                                </div>
                              </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 text-right">
                      <%= link_to order_item_path(item), method: :delete, remote: true, class: "btn btn-outline-danger btn-xs" do %>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      <% end %>
                    </div>
                </div>
              <% end %>
            </div>
            <hr>
             <div class=row>
              <div class="col-lg-3 col-md-6 mb-4">
                <div id="carts">
                  <%= render 'carts/cart' %>
                </div>
              </div>
              <div class="col-lg-6 col-md-9 mb-4 ">
                <h5> Total: R$ <%= formatted_value current_order.subtotal %></h5>
              </div>
          </div>
        </div>
    </div>
</div>