
<div class="card shadow p-3 mb-5">
  <div class="card-header" style="text-align: center">
    <h3><%= t('charts.sales_by_customers')%></h3>
  </div>
  <div class="card-body">
    <%= pie_chart @order_by_customer.group("users.name").sum("(subtotal_cents/100.00)"), prefix: "R$", thousands: ".", decimal: ",", donut: true, round: 2, zeros: true, messages: {empty: "Nenhuma movimentação"} %>
  </div>  
</div>
  
<div class="card shadow p-3 mb-5">
  <div class="card-header" style="text-align: center">
    <h3><%= t('charts.best_sellers')%></h3>
  </div>
  <div class="card-body">
    <%= pie_chart @best_sellers.group("products.title").count, donut: true, messages: {empty: "Nenhuma movimentação"} %>
  </div>  
</div>

<div class="card shadow p-3 mb-5">
  <div class="card-header" style="text-align: center">
    <h5><%= t('charts.sales_by_month_by_money')%></h5>
  </div>
  <div class="card-body">
    <%= bar_chart @total_sales_by_money.group_by_month(:created_at, format: "%b %Y", last: 12).sum("(subtotal_cents/100.00)"), prefix: "R$", thousands: ".", decimal: ",", donut: true, round: 2, zeros: true %>
  </div>  
</div>

<div class="card shadow p-3 mb-5">
  <div class="card-header" style="text-align: center">
    <h5><%= t('charts.sales_by_month_by_card')%></h5>
  </div>
  <div class="card-body">
    <%= bar_chart @total_sales_by_card.group_by_month(:created_at, format: "%b %Y", last: 12).sum("(subtotal_cents/100.00)"), prefix: "R$", thousands: ".", decimal: ",", donut: true, round: 2, zeros: true %>
  </div>  
</div>
